In [1]:
pwd!

'/Users/yegu/Documents/Project_4_Machine_learning_YG/Sept27'

In [2]:
import pandas as pd
import os

# Test Data

In [6]:
#test_folder_path = '/Users/yegu/Documents/Project_4_Machine_learning_YG/Resources/Census/cc-est2022-all.csv'
#df_test = pd.read_csv(test_folder_path, encoding='ISO-8859-1')
#df_test.head()

In [7]:
#pop_count_df=df_test.groupby(['YEAR', 'CTYNAME', "STNAME"])['TOT_POP'].sum().reset_index()
#pop_count_df.head()

In [8]:
#df_test.dtypes

# Read 2000_2008 CSV and Combine the CSVs

In [9]:
#Merge the 2008 census data for all states into one csv 
# Specify the folder path where CSV files are located
folder_path_2000_2008 = '/Users/yegu/Documents/Project_4_Machine_learning_YG/Resources/Census/2008'


# Get a list of CSV files in the folder
csv_files_2000_2008 = [f for f in os.listdir(folder_path_2000_2008) if f.endswith('.csv')]

# Create an empty DataFrame to store the combined data
merged_2008_df = pd.DataFrame()

# Iterate through the list of CSV files and combine them
for csv_file in csv_files_2000_2008:
    file_path = os.path.join(folder_path_2000_2008, csv_file)
    df = pd.read_csv(file_path, encoding='ISO-8859-1')
    merged_2008_df = merged_2008_df.append(df, ignore_index=True)
print(f'Combined data complete')    

# Write the merged data to a new CSV file
#output_file = '/Users/yegu/Documents/Project_4_Machine_learning_YG/Resources/Census/2008_merged_census_data.csv'
#merged_2008_df.to_csv(output_file, index=False, encoding='utf-8')
#print(f'Merged data saved to {output_file}')

/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)

/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:15: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='ISO-8859-1')
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/2755349283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_2008_df = merged_2008_df.append(df, ignore_index=True)

Combined data complete

In [11]:
#list all the files in the folder 
#csv_files_2000_2008

In [12]:
#count number of files 
len(csv_files_2000_2008)

51

In [13]:
#printed merged/combined 2000_2008dataframe 
merged_2008_df.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,15,1,Hawaii,Hawaii County,1,0,148677,74499,74178,...,4698,4695,204,211,720,733,3218,3418,2848,2928
1,50,15,1,Hawaii,Hawaii County,1,1,9130,4784,4346,...,631,601,24,29,125,87,545,515,570,506
2,50,15,1,Hawaii,Hawaii County,1,2,11033,5851,5182,...,661,581,37,30,110,103,534,495,509,502
3,50,15,1,Hawaii,Hawaii County,1,3,11568,5925,5643,...,588,522,30,30,89,94,461,418,458,383
4,50,15,1,Hawaii,Hawaii County,1,4,11089,5723,5366,...,470,505,19,25,80,84,337,395,358,380

In [14]:
merged_2008_df.dtypes

SUMLEV          int64
STATE           int64
COUNTY          int64
STNAME         object
CTYNAME        object
                ...
HIAC_FEMALE    object
HAAC_MALE      object
HAAC_FEMALE    object
HNAC_MALE      object
HNAC_FEMALE    object
Length: 80, dtype: object

In [16]:
# Keep: State, County, tot_pop, 'WA_MALE', 'WA_FEMALE', 'BA_MALE',
##       'BA_FEMALE', 'IA_MALE', 'IA_FEMALE', 'AA_MALE', 'AA_FEMALE', 'NA_MALE',
##       'NA_FEMALE', 'TOM_MALE', 'TOM_FEMALE', 'NH_MALE', 'NH_FEMALE', 'H_MALE', 'H_FEMALE',
## Keep Year: keep 3, 7, 11
## Keep AgeGrp: Drop 0-3
df_2000_2008_cleaned = merged_2008_df[['STATE','COUNTY','STNAME', 'CTYNAME', 'YEAR', 'AGEGRP', 'TOT_MALE','TOT_FEMALE','WA_MALE', 'WA_FEMALE', 'BA_MALE',
       'BA_FEMALE', 'IA_MALE', 'IA_FEMALE', 'AA_MALE', 'AA_FEMALE', 'NA_MALE',
       'NA_FEMALE', 'TOM_MALE', 'TOM_FEMALE', 'NH_MALE', 'NH_FEMALE', 'H_MALE', 'H_FEMALE']]

df_2000_2008_cleaned.head()

## What would happen if we kept/excluded the younger age groups

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE
0,15,1,Hawaii,Hawaii County,1,0,74499,74178,25376,24395,...,19609,20761,8662,8474,20029,19915,67491,67075,7008,7103
1,15,1,Hawaii,Hawaii County,1,1,4784,4346,834,767,...,721,628,725,656,2451,2261,3851,3491,933,855
2,15,1,Hawaii,Hawaii County,1,2,5851,5182,1210,1067,...,950,848,889,745,2740,2488,4914,4327,937,855
3,15,1,Hawaii,Hawaii County,1,3,5925,5643,1425,1249,...,1075,1022,854,792,2523,2517,5054,4876,871,767
4,15,1,Hawaii,Hawaii County,1,4,5723,5366,1407,1313,...,1110,1048,818,760,2326,2189,5024,4609,699,757

In [17]:
## Key to the numbers for census data: https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2000-2008/cc-est2008-alldata.pdf
##filter for only 3=2000, 7=2004,11=2008
years = [3, 7, 11]

df_2000_2008_cleaned_yr = df_2000_2008_cleaned.loc[((df_2000_2008_cleaned['YEAR'] == 3) | (df_2000_2008_cleaned['YEAR'] == 7) | \
                                       (df_2000_2008_cleaned['YEAR'] == 11))]
df_2000_2008_cleaned_yr.head()

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE
38,15,1,Hawaii,Hawaii County,3,0,74762,74298,25389,24292,...,19749,20903,8681,8494,20107,19975,67688,67168,7074,7130
39,15,1,Hawaii,Hawaii County,3,1,4791,4353,828,763,...,722,629,726,654,2462,2273,3850,3491,941,862
40,15,1,Hawaii,Hawaii County,3,2,5832,5165,1197,1056,...,949,850,885,740,2739,2485,4894,4310,938,855
41,15,1,Hawaii,Hawaii County,3,3,5936,5653,1418,1245,...,1076,1023,855,794,2539,2528,5057,4880,879,773
42,15,1,Hawaii,Hawaii County,3,4,5718,5353,1407,1308,...,1108,1043,807,753,2336,2193,5020,4597,698,756

In [18]:
#filter for age above which is AGEGRP 4 through 18, i,e, removed AGEGRP 0 to 3
df_2008_cleaned_yr_age = df_2000_2008_cleaned_yr.loc[((df_2000_2008_cleaned_yr['AGEGRP'] != 0) & (df_2000_2008_cleaned_yr['AGEGRP'] != 1) & \
                                       (df_2000_2008_cleaned_yr['AGEGRP'] != 2) & (df_2000_2008_cleaned_yr['AGEGRP'] != 3))]
df_2008_cleaned_yr_age

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE
42,15,1,Hawaii,Hawaii County,3,4,5718,5353,1407,1308,...,1108,1043,807,753,2336,2193,5020,4597,698,756
43,15,1,Hawaii,Hawaii County,3,5,4257,4128,1106,994,...,914,858,679,650,1499,1593,3700,3545,557,583
44,15,1,Hawaii,Hawaii County,3,6,3878,3883,1054,1062,...,878,926,604,571,1301,1284,3388,3394,490,489
45,15,1,Hawaii,Hawaii County,3,7,4108,4176,1344,1213,...,1005,1169,583,557,1118,1200,3687,3715,421,461
46,15,1,Hawaii,Hawaii County,3,8,5022,5386,1807,1867,...,1366,1499,594,654,1190,1312,4601,4899,421,487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656673,18,183,Indiana,Whitley County,11,14,571,670,565,662,...,0,0,0,1,3,3,570,669,1,1
656674,18,183,Indiana,Whitley County,11,15,432,493,428,487,...,2,3,1,0,1,3,432,492,0,1
656675,18,183,Indiana,Whitley County,11,16,337,510,333,507,...,0,1,0,0,4,1,336,509,1,1
656676,18,183,Indiana,Whitley County,11,17,245,408,243,405,...,0,0,0,0,2,3,241,408,4,0
656677,18,183,Indiana,Whitley County,11,18,191,445,189,443,...,1,0,0,0,1,2,187,443,4,2

In [19]:
##Need to Convert all the non-numeric back to numeric

# List of columns to exclude from conversion
exclude_columns = ["STNAME", "CTYNAME"]

# Iterate through the DataFrame's columns
for column in df_2008_cleaned_yr_age.columns:
    if column not in exclude_columns:
        # Use pd.to_numeric to convert the column to int64
        df_2008_cleaned_yr_age[column] = pd.to_numeric(df_2008_cleaned_yr_age[column], errors='coerce').astype('Int64')

/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/1194660330.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2008_cleaned_yr_age[column] = pd.to_numeric(df_2008_cleaned_yr_age[column], errors='coerce').astype('Int64')

In [20]:
df_2008_cleaned_yr_age.dtypes

STATE          Int64
COUNTY         Int64
STNAME        object
CTYNAME       object
YEAR           Int64
AGEGRP         Int64
TOT_MALE       Int64
TOT_FEMALE     Int64
WA_MALE        Int64
WA_FEMALE      Int64
BA_MALE        Int64
BA_FEMALE      Int64
IA_MALE        Int64
IA_FEMALE      Int64
AA_MALE        Int64
AA_FEMALE      Int64
NA_MALE        Int64
NA_FEMALE      Int64
TOM_MALE       Int64
TOM_FEMALE     Int64
NH_MALE        Int64
NH_FEMALE      Int64
H_MALE         Int64
H_FEMALE       Int64
dtype: object

In [21]:
# Check if column 'TOT_POP' (index 7) exists in the DataFrame
#if 'TOT_POP' in df_2008_cleaned_yr_age.columns:
    # Iterate through the range of ratios
    #for i in range(8, 12):
        # Check if the column index 'i' exists in the DataFrame
        #if i in range(len(df_2008_cleaned_yr_age.columns)):
            # Calculate the ratio and create a new column in merged_2008_df
            #column_name = f'{df_2008_cleaned_yr_age.columns[i]}_percent'  # Create the new column name
            #df_2008_cleaned_yr_age[column_name] = df_2008_cleaned_yr_age.iloc[:, i] / df_2008_cleaned_yr_age.iloc[:, 7]
            
            # Append the new column name to the list
            #new_columns.append(column_name)

# Now, new columns with names like "H_MALE_percent," "H_FEMALE_percent," etc., will contain the ratios.

In [22]:
#merged_2008_df.columns

In [23]:
df_2008_cleaned_yr_age.head(10)

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE
42,15,1,Hawaii,Hawaii County,3,4,5718,5353,1407,1308,...,1108,1043,807,753,2336,2193,5020,4597,698,756
43,15,1,Hawaii,Hawaii County,3,5,4257,4128,1106,994,...,914,858,679,650,1499,1593,3700,3545,557,583
44,15,1,Hawaii,Hawaii County,3,6,3878,3883,1054,1062,...,878,926,604,571,1301,1284,3388,3394,490,489
45,15,1,Hawaii,Hawaii County,3,7,4108,4176,1344,1213,...,1005,1169,583,557,1118,1200,3687,3715,421,461
46,15,1,Hawaii,Hawaii County,3,8,5022,5386,1807,1867,...,1366,1499,594,654,1190,1312,4601,4899,421,487
47,15,1,Hawaii,Hawaii County,3,9,6114,6314,2299,2487,...,1777,1769,709,707,1247,1274,5663,5803,451,511
48,15,1,Hawaii,Hawaii County,3,10,6630,6608,3052,2994,...,1794,1835,606,617,1077,1102,6295,6213,335,395
49,15,1,Hawaii,Hawaii County,3,11,5964,5363,2942,2539,...,1527,1540,499,439,917,791,5668,5083,296,280
50,15,1,Hawaii,Hawaii County,3,12,4170,4032,1979,1790,...,1203,1239,370,384,572,589,3986,3852,184,180
51,15,1,Hawaii,Hawaii County,3,13,2995,3028,1370,1192,...,990,1128,248,266,363,421,2862,2859,133,169

In [24]:
# Define a dictionary for renaming
year_mapping = {3: 2000, 7: 2004, 11: 2008}

# Use the 'replace' method to rename values in the 'YEAR' column
df_2008_cleaned_yr_age['YEAR'] = df_2008_cleaned_yr_age['YEAR'].replace(year_mapping)

/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/522127384.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2008_cleaned_yr_age['YEAR'] = df_2008_cleaned_yr_age['YEAR'].replace(year_mapping)

In [26]:
df_2008_cleaned_yr_age.head()

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE
42,15,1,Hawaii,Hawaii County,2000,4,5718,5353,1407,1308,...,1108,1043,807,753,2336,2193,5020,4597,698,756
43,15,1,Hawaii,Hawaii County,2000,5,4257,4128,1106,994,...,914,858,679,650,1499,1593,3700,3545,557,583
44,15,1,Hawaii,Hawaii County,2000,6,3878,3883,1054,1062,...,878,926,604,571,1301,1284,3388,3394,490,489
45,15,1,Hawaii,Hawaii County,2000,7,4108,4176,1344,1213,...,1005,1169,583,557,1118,1200,3687,3715,421,461
46,15,1,Hawaii,Hawaii County,2000,8,5022,5386,1807,1867,...,1366,1499,594,654,1190,1312,4601,4899,421,487

In [27]:
#merged_2008_df_cleaned= merged_2008_df[['STNAME', 'CTYNAME', 'YEAR', 'AGEGRP','TOT_MALE_percent','TOT_FEMALE_percent', 'WA_MALE_percent', 'WA_FEMALE_percent']]
#merged_2008_df_cleaned.head(20)

In [36]:
len(df_2008_cleaned_yr_age.columns)

24

In [29]:
# Pivot the DataFrame to set 'AGEGRP' as columns
#pivoted_df = merged_2008_df_cleaned.pivot(index=['STNAME', 'CTYNAME', 'YEAR'], columns='AGEGRP', values=['TOT_MALE_percent', 'TOT_FEMALE_percent', 'WA_MALE_percent', 'WA_FEMALE_percent'])

# Reset the index to make 'STNAME', 'CTYNAME', 'YEAR' regular columns (optional)
#pivoted_df.reset_index(inplace=True)

# Flatten the MultiIndex columns
#pivoted_df.columns = [f'{col[0]}_{col[1]}' if col[0] != '' else col[1] for col in pivoted_df.columns]
#pivoted_df

In [30]:
# Define the age bins
age_bins = [4, 10, float('inf')]  # The last bin represents 50+ age group

# Define labels for the age groups
age_labels = ['15-49', '50+']

# Use pd.cut to create age groups
df_2008_cleaned_yr_age['AGE_GROUP'] = pd.cut(df_2008_cleaned_yr_age['AGEGRP'], bins=age_bins, labels=age_labels, right=False)

# Now, df contains a new column 'AGE_GROUP' with the age group labels
#drop the old AGEGRP 
df_2008_cleaned_yr_age.drop(columns=['AGEGRP'], inplace=True)

/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/643104313.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2008_cleaned_yr_age['AGE_GROUP'] = pd.cut(df_2008_cleaned_yr_age['AGEGRP'], bins=age_bins, labels=age_labels, right=False)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6066/643104313.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2008_cleaned_yr_age.drop(columns=['AGEGRP'], inplace=True)

In [32]:
df_2008_cleaned_yr_age.head()

,STATE,COUNTY,STNAME,CTYNAME,YEAR,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,BA_MALE,...,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE,AGE_GROUP
42,15,1,Hawaii,Hawaii County,2000,5718,5353,1407,1308,33,...,1043,807,753,2336,2193,5020,4597,698,756,15-49
43,15,1,Hawaii,Hawaii County,2000,4257,4128,1106,994,38,...,858,679,650,1499,1593,3700,3545,557,583,15-49
44,15,1,Hawaii,Hawaii County,2000,3878,3883,1054,1062,22,...,926,604,571,1301,1284,3388,3394,490,489,15-49
45,15,1,Hawaii,Hawaii County,2000,4108,4176,1344,1213,37,...,1169,583,557,1118,1200,3687,3715,421,461,15-49
46,15,1,Hawaii,Hawaii County,2000,5022,5386,1807,1867,34,...,1499,594,654,1190,1312,4601,4899,421,487,15-49

In [33]:
df_2008_cleaned_yr_age["YEAR"].unique()

<IntegerArray>
[2000, 2004, 2008]
Length: 3, dtype: Int64

In [35]:
output_file = '/Users/yegu/Documents/Project_4_Machine_learning_YG/Cleaned_CC_CSV/Sept27_CSV/Cleaned_2000_2008_census_data.csv'
df_2008_cleaned_yr_age.to_csv(output_file, index=False, encoding='utf-8')
print(f'Cleaned csv saved to {output_file}')

Cleaned csv saved to /Users/yegu/Documents/Project_4_Machine_learning_YG/Cleaned_CC_CSV/Sept27_CSV/Cleaned_2000_2008_census_data.csv