In [1]:
pwd!

'/Users/yegu/Documents/Project_4_Machine_learning_YG/Sept27'

In [2]:
import pandas as pd
import os

# Read 2012_2016 Census Data

In [3]:
#keys to the cc data https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2016/cc-est2016-alldata.pdf

In [4]:
folder_path_2016 = '/Users/yegu/Documents/Project_4_Machine_learning_YG/Resources/Census/cc-est2016-alldata.csv'
df_cc_2012_2016 = pd.read_csv(folder_path_2016, encoding='ISO-8859-1')
df_cc_2012_2016.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,54571,26569,28002,...,607,538,57,48,26,32,9,11,19,10
1,50,1,1,Alabama,Autauga County,1,1,3579,1866,1713,...,77,56,9,5,4,1,0,0,2,1
2,50,1,1,Alabama,Autauga County,1,2,3991,2001,1990,...,64,66,2,3,2,7,2,3,2,0
3,50,1,1,Alabama,Autauga County,1,3,4290,2171,2119,...,51,57,13,7,5,5,2,1,1,1
4,50,1,1,Alabama,Autauga County,1,4,4290,2213,2077,...,48,44,7,5,0,2,2,1,3,1

In [5]:
distinct_values = df_cc_2012_2016['YEAR'].unique()
print(distinct_values)
#5=2012, 9=2016

[1 2 3 4 5 6 7 8 9]

In [6]:
# Keep: State, County, tot_pop, 'WA_MALE', 'WA_FEMALE', 'BA_MALE',
##       'BA_FEMALE', 'IA_MALE', 'IA_FEMALE', 'AA_MALE', 'AA_FEMALE', 'NA_MALE',
##       'NA_FEMALE', 'TOM_MALE', 'TOM_FEMALE', 'NH_MALE', 'NH_FEMALE', 'H_MALE', 'H_FEMALE',
## Keep Year: keep 3, 7, 11
## Keep AgeGrp: Drop 0-3
df_cc_2012_2016 = df_cc_2012_2016[['STATE','COUNTY','STNAME', 'CTYNAME', 'YEAR', 'AGEGRP', 'TOT_MALE','TOT_FEMALE','WA_MALE', 'WA_FEMALE', 'BA_MALE',
       'BA_FEMALE', 'IA_MALE', 'IA_FEMALE', 'AA_MALE', 'AA_FEMALE', 'NA_MALE',
       'NA_FEMALE', 'TOM_MALE', 'TOM_FEMALE', 'NH_MALE', 'NH_FEMALE', 'H_MALE', 'H_FEMALE']]

df_cc_2012_2016.head()

## What would happen if we kept/excluded the younger age groups

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE
0,1,1,Alabama,Autauga County,1,0,26569,28002,21295,22002,...,200,284,29,18,367,429,25875,27386,694,616
1,1,1,Alabama,Autauga County,1,1,1866,1713,1411,1316,...,13,15,1,0,74,62,1778,1651,88,62
2,1,1,Alabama,Autauga County,1,2,2001,1990,1521,1526,...,17,21,1,3,49,58,1933,1916,68,74
3,1,1,Alabama,Autauga County,1,3,2171,2119,1658,1620,...,23,18,4,1,40,62,2105,2055,66,64
4,1,1,Alabama,Autauga County,1,4,2213,2077,1628,1585,...,25,14,4,2,42,45,2153,2026,60,51

In [7]:
##filter for only 5=2012, 9=2016
years = [5,9]

df_cc_2012_2016_cleaned_yr = df_cc_2012_2016.loc[((df_cc_2012_2016['YEAR'] == 5) | (df_cc_2012_2016['YEAR'] == 9))]
df_cc_2012_2016_cleaned_yr.head()

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE
76,1,1,Alabama,Autauga County,5,0,26880,28147,21358,21980,...,207,343,29,17,414,420,26176,27524,704,623
77,1,1,Alabama,Autauga County,5,1,1801,1623,1371,1236,...,13,12,1,0,72,60,1704,1558,97,65
78,1,1,Alabama,Autauga County,5,2,1925,1903,1477,1467,...,12,29,1,3,59,52,1861,1828,64,75
79,1,1,Alabama,Autauga County,5,3,2217,2174,1684,1680,...,25,17,3,2,55,62,2146,2113,71,61
80,1,1,Alabama,Autauga County,5,4,2121,1937,1549,1445,...,25,21,3,1,39,38,2065,1894,56,43

In [8]:
#filter for age above which is AGEGRP 4 through 18, i,e, removed AGEGRP 0 to 3
df_cc_2012_2016_cleaned_yr_age= df_cc_2012_2016_cleaned_yr.loc[((df_cc_2012_2016_cleaned_yr['AGEGRP'] != 0) & (df_cc_2012_2016_cleaned_yr['AGEGRP'] != 1) & \
                                       (df_cc_2012_2016_cleaned_yr['AGEGRP'] != 2) & (df_cc_2012_2016_cleaned_yr['AGEGRP'] != 3))]
df_cc_2012_2016_cleaned_yr_age.head()

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE
80,1,1,Alabama,Autauga County,5,4,2121,1937,1549,1445,...,25,21,3,1,39,38,2065,1894,56,43
81,1,1,Alabama,Autauga County,5,5,1706,1643,1273,1226,...,7,9,4,2,41,34,1653,1603,53,40
82,1,1,Alabama,Autauga County,5,6,1582,1626,1238,1264,...,8,24,2,4,21,13,1519,1563,63,63
83,1,1,Alabama,Autauga County,5,7,1596,1721,1266,1278,...,14,32,3,0,15,16,1535,1675,61,46
84,1,1,Alabama,Autauga County,5,8,1826,1989,1436,1469,...,25,49,5,0,25,34,1769,1940,57,49

In [9]:
##Need to Convert all the non-numeric back to numeric

# List of columns to exclude from conversion
exclude_columns = ["STNAME", "CTYNAME"]

# Iterate through the DataFrame's columns
for column in df_cc_2012_2016_cleaned_yr_age.columns:
    if column not in exclude_columns:
        # Use pd.to_numeric to convert the column to int64
        df_cc_2012_2016_cleaned_yr_age[column] = pd.to_numeric(df_cc_2012_2016_cleaned_yr_age[column], errors='coerce').astype('Int64')

/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6293/2763896008.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cc_2012_2016_cleaned_yr_age[column] = pd.to_numeric(df_cc_2012_2016_cleaned_yr_age[column], errors='coerce').astype('Int64')

In [10]:
df_cc_2012_2016_cleaned_yr_age.dtypes

STATE          Int64
COUNTY         Int64
STNAME        object
CTYNAME       object
YEAR           Int64
AGEGRP         Int64
TOT_MALE       Int64
TOT_FEMALE     Int64
WA_MALE        Int64
WA_FEMALE      Int64
BA_MALE        Int64
BA_FEMALE      Int64
IA_MALE        Int64
IA_FEMALE      Int64
AA_MALE        Int64
AA_FEMALE      Int64
NA_MALE        Int64
NA_FEMALE      Int64
TOM_MALE       Int64
TOM_FEMALE     Int64
NH_MALE        Int64
NH_FEMALE      Int64
H_MALE         Int64
H_FEMALE       Int64
dtype: object

In [11]:
df_cc_2012_2016_cleaned_yr_age.head()

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE
80,1,1,Alabama,Autauga County,5,4,2121,1937,1549,1445,...,25,21,3,1,39,38,2065,1894,56,43
81,1,1,Alabama,Autauga County,5,5,1706,1643,1273,1226,...,7,9,4,2,41,34,1653,1603,53,40
82,1,1,Alabama,Autauga County,5,6,1582,1626,1238,1264,...,8,24,2,4,21,13,1519,1563,63,63
83,1,1,Alabama,Autauga County,5,7,1596,1721,1266,1278,...,14,32,3,0,15,16,1535,1675,61,46
84,1,1,Alabama,Autauga County,5,8,1826,1989,1436,1469,...,25,49,5,0,25,34,1769,1940,57,49

In [12]:
# Define a dictionary for renaming
year_mapping = {5: 2012, 9: 2016}

# Use the 'replace' method to rename values in the 'YEAR' column
df_cc_2012_2016_cleaned_yr_age['YEAR'] = df_cc_2012_2016_cleaned_yr_age['YEAR'].replace(year_mapping)

/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6293/865069237.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cc_2012_2016_cleaned_yr_age['YEAR'] = df_cc_2012_2016_cleaned_yr_age['YEAR'].replace(year_mapping)

In [13]:
df_cc_2012_2016_cleaned_yr_age.head()

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE
80,1,1,Alabama,Autauga County,2012,4,2121,1937,1549,1445,...,25,21,3,1,39,38,2065,1894,56,43
81,1,1,Alabama,Autauga County,2012,5,1706,1643,1273,1226,...,7,9,4,2,41,34,1653,1603,53,40
82,1,1,Alabama,Autauga County,2012,6,1582,1626,1238,1264,...,8,24,2,4,21,13,1519,1563,63,63
83,1,1,Alabama,Autauga County,2012,7,1596,1721,1266,1278,...,14,32,3,0,15,16,1535,1675,61,46
84,1,1,Alabama,Autauga County,2012,8,1826,1989,1436,1469,...,25,49,5,0,25,34,1769,1940,57,49

In [15]:
len(df_cc_2012_2016_cleaned_yr_age.columns)

24

In [16]:
# Define the age bins
age_bins = [4, 10, float('inf')]  # The last bin represents 50+ age group

# Define labels for the age groups
age_labels = ['15-49', '50+']

# Use pd.cut to create age groups
df_cc_2012_2016_cleaned_yr_age['AGE_GROUP'] = pd.cut(df_cc_2012_2016_cleaned_yr_age['AGEGRP'], bins=age_bins, labels=age_labels, right=False)

# Now, df contains a new column 'AGE_GROUP' with the age group labels
#drop the old AGEGRP 
df_cc_2012_2016_cleaned_yr_age.drop(columns=['AGEGRP'], inplace=True)

/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6293/3778361667.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cc_2012_2016_cleaned_yr_age['AGE_GROUP'] = pd.cut(df_cc_2012_2016_cleaned_yr_age['AGEGRP'], bins=age_bins, labels=age_labels, right=False)
/var/folders/xd/nv_kzvwn19x7xd13bmlf5vj00000gn/T/ipykernel_6293/3778361667.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cc_2012_2016_cleaned_yr_age.drop(columns=['AGEGRP'], inplace=True)

In [17]:
df_cc_2012_2016_cleaned_yr_age.head()

,STATE,COUNTY,STNAME,CTYNAME,YEAR,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,BA_MALE,...,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE,AGE_GROUP
80,1,1,Alabama,Autauga County,2012,2121,1937,1549,1445,496,...,21,3,1,39,38,2065,1894,56,43,15-49
81,1,1,Alabama,Autauga County,2012,1706,1643,1273,1226,370,...,9,4,2,41,34,1653,1603,53,40,15-49
82,1,1,Alabama,Autauga County,2012,1582,1626,1238,1264,311,...,24,2,4,21,13,1519,1563,63,63,15-49
83,1,1,Alabama,Autauga County,2012,1596,1721,1266,1278,295,...,32,3,0,15,16,1535,1675,61,46,15-49
84,1,1,Alabama,Autauga County,2012,1826,1989,1436,1469,327,...,49,5,0,25,34,1769,1940,57,49,15-49

In [18]:
df_cc_2012_2016_cleaned_yr_age["YEAR"].unique()

<IntegerArray>
[2012, 2016]
Length: 2, dtype: Int64

In [19]:
output_file = '/Users/yegu/Documents/Project_4_Machine_learning_YG/Cleaned_CC_CSV/Sept27_CSV/Cleaned_2012_2016_census_data.csv'
df_cc_2012_2016_cleaned_yr_age.to_csv(output_file, index=False, encoding='utf-8')
print(f'Cleaned csv saved to {output_file}')

Cleaned csv saved to /Users/yegu/Documents/Project_4_Machine_learning_YG/Cleaned_CC_CSV/Sept27_CSV/Cleaned_2012_2016_census_data.csv